{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
    var t = 0;
    setInterval(function() { t++;
        $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/request/",
            contentType: "application/json; charset=utf-8",
            data: { request: t },
            success: function(data) { $('#echoResult').text(data.value); }
        });
    }, 10);
</script>
<h1>jQuery Example</h1>
<p>
<strong> <div id='echoResult'></div></strong>
{% endblock %}
